:root {
    --indigo-100: #c5cae9;
    --indigo-200: #9fa8da;
    --indigo-300: #7986cb;
    --indigo-400: #5c6bc0;
    --indigo-500: #3f51b5;
    --indigo-600: #3949ab;
    --indigo-700: #303f9f;
    --indigo-800: #283593;
    --indigo-900: #1a237e;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

body {
    background-color: var(--indigo-500);
    width: 250px;
    margin: 16px;
    font-size: 16px;
    color: white;
}

label, select {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

select {
    margin-bottom: 16px;
    padding: 4px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: solid 2px white;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: white;
    color: var(--indigo-500);
}

.btn:not(:first-child) {
    margin-top: 16px;
}

.btn-text {
    display: block;
    width: 100%;
    padding: 8px;
    background: transparent;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;
}